@import url('https://fonts.googleapis.com/css2?family=Nunito:ital@1&display=swap');
* {
    background-color: rgb(203, 253, 255);
    font-family: 'Nunito', sans-serif;
}
a {
    text-decoration: none;
    color: black;
    background-color: whitesmoke;
    padding-top: 0px;
}
a:hover {
    background-color: gainsboro;
}
#barra-navegacion {
    background-color: whitesmoke;
    position: sticky;
    display: flex;
    justify-content:flex-end;
    gap: 15px;
    padding: 10px;
    align-items: end;
}