@import url('https://fonts.googleapis.com/css2?family=Nunito:ital@1&display=swap');
* {
    font-family: 'Nunito', sans-serif;
    padding: 0%;
    margin: 0%;
}
body {
    background-color: rgb(203, 253, 255);
}
a {
    text-decoration: none;
    font-style: italic;
    color: black;
}
nav {
    background-color: rgb(84, 236, 186);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 0 30px;
}
.boton-inicio {
    font-weight: 600;
    font-size: 20px;
    text-decoration: none;
}
.botones-final a {
    margin-left: 20px;
}
.botones-final a:hover {
    opacity: 0.7;
}
h2 {
    font-size: 30px;
    position: absolute;
    top: 80px;
    left: 125px;
}
#caja-formulario {
    position: absolute;
    left: 100px;
    top: 130px;
}
form {
    font-size: 20px;
    background-color: rgb(185, 249, 252);
    display: grid;
    place-items: center;
    width: 650px;
    height: 475px;
    border: 2px solid rgba(20, 226, 157, 0.568);
}
.edicion-input {
    font-size: 20px;
    background-color: rgb(203, 253, 255);
    width: 300px;
    height: 25px;
    border: 2px solid rgb(18, 207, 144);
    border-radius: 5px;
}
#edicion-textArea {
    font-size: 18px;
    background-color: rgb(203, 253, 255);
    margin-top: 15px;
    border: 2px solid rgb(18, 207, 144);
    border-radius: 5px;
}
#boton-enviar {
    margin-bottom: 20px;
    font-size: 20px;
    width: 100px;
    background-color: rgb(18, 207, 144);
    border: 2px solid rgb(18, 207, 144);
    border-radius: 5px;
}
#edicion-linkedin {
    width: 55px;
    position: absolute;
    left: 1000px;
    top: 325px;
}
#edicion-github {
    width: 55px;
    position: absolute;
    left: 1000px;
    top: 200px;
}
#edicion-instagram {
    width: 55px;
    position: absolute;
    left: 1000px;
    top: 450px;
}
footer {
    font-size: 13px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px;
    background-color: rgb(84, 236, 186);
    text-align: center;
}







