@import url('https://fonts.googleapis.com/css2?family=Nunito:ital@1&display=swap');
* {
    background-color: #cbfdff;
    font-family: 'Nunito', sans-serif;
}
h2 {
    margin-bottom: 0%;
}
h3 {
    font-size: 100%;
    margin-top: 5%;
}
a {
    text-decoration: none;
    color: black;
}
a:hover {
    background-color: #84dfe2;
}
#presentacion {
    color: black;
    font-size: 18px;
    position: absolute;
    top: 33%;
    left: 20%;
}
#sub_paginas {
    font-size: medium;
    position: absolute;
    top: 50%;
    left: 20%;
}
.animacion {
    transition: 100ms;
}
.animacion:hover {
    transform: translate(0px,-3px);
}
#imagen_inicio {
    width: 610px;
    height: 600px;
    border-radius: 200px;
    position: absolute;
    top: 5%;
    left: 45%;
}


@media (max-width: 800px) {
    * {
        background-color: blue;
    }
}

