@import url('https://fonts.googleapis.com/css2?family=Nunito:ital@1&display=swap');
*{
    background-color: #cbfdff;
    font-family: 'Nunito', sans-serif;
}
body
h2 {
    margin-bottom: 0%;
}
h3 {
    font-size: 100%;
    margin-top: 5%;
}
a {
    text-decoration: none;
    color: black;
}
a:hover {
    background-color: rgba(98, 214, 189, 0.63);
}
#presentacion {
    color: black;
    font-size: 18px;
    position: absolute;
    top: 225px;
    left: 265px;
}
#sub_paginas {
    font-size: medium;
    position: absolute;
    top: 325px;
    left: 265px;
}
.animacion {
    transition: 100ms;
}
.animacion:hover {
    transform: translate(0px,-3px);
}
#imagen_inicio {
    width: 610px;
    height: 600px;
    border-radius: 200px;
    position: absolute;
    top: 30px;
    left: 620px;
}




