@import url('https://fonts.googleapis.com/css2?family=Nunito:ital@1&display=swap');
* {
    font-family: 'Nunito', sans-serif;
    padding: 0%;
    margin: 0%;
}
body {
    background-color: rgb(203, 253, 255);
}
a {
    text-decoration: none;
    font-style: italic;
    color: black;
}
nav {
    background-color: rgb(84, 236, 186);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 0 30px;
}
.boton-inicio {
    font-weight: 600;
    font-size: 20px;
    text-decoration: none;
}
.botones-final a {
    margin-left: 20px;
}
.botones-final a:hover {
    opacity: 0.7;
}
.posicion-imagenes {
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
}
.tamaño-imagenes {
    width: 300px;
    height: 350px;
    border: 2px solid rgb(7, 122, 97, 0.3);
}
.titulos-proyectos {
    padding-bottom: 7px;
    display: flex;
    justify-content: center;
}
.texto-imagenes {
    padding-top: 5px;
    display: flex;
    justify-content: center;
}
.texto-link {
    text-decoration: underline;
    color: rgb(168, 14, 168);
    display: flex;
    justify-content: center;
}